In [63]:
import pandas as pd

df = pd.read_csv('../3.py-file-handling/student_data.csv', header=0, index_col=0)

income_to_edu = {
    'Low': 'High School',
    'Medium': "Master's",
    'High': 'PhD'
}

fallback = df['Family_Income_Level'].map(income_to_edu)

df['Parent_Education_Level'] = df['Parent_Education_Level'].fillna(fallback)

df_null = df.isnull().sum()

df[['Parent_Education_Level', 'Sleep_Hours_per_Night', 'Midterm_Score', 'Final_Score', 'Study_Hours_per_Week']].describe()

       Sleep_Hours_per_Night  Midterm_Score  Final_Score  Study_Hours_per_Week
count            5000.000000    5000.000000  5000.000000           5000.000000
mean                6.514420      70.701924    69.546552             17.521140
std                 1.446155      17.436325    17.108996              7.193035
min                 4.000000      40.000000    40.010000              5.000000
25%                 5.300000      55.707500    54.697500             11.500000
50%                 6.500000      70.860000    69.485000             17.400000
75%                 7.800000      85.760000    83.922500             23.700000
max                 9.000000      99.990000    99.980000             30.000000